[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = git@github.com:alex-shpak/hugo-book.git
[submodule "static/js/text-autospace.js"]
	path = static/js/text-autospace.js
	url = git@github.com:DictXiong/text-autospace.js.git
